@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

main {
  padding-top: 40px;
  display: flex;
  gap: 16px;
  max-width: 1174px;
  margin: 0 auto;

  .images_section {
    display: flex;
    gap: 16px;
    aside {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 36px;
      font-weight: 600;
    }

    h2 {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 600;
    }

    .content_header {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .green-text {
        color: #29aa04;
        font-weight: 600;
        font-size: 24px;
      }
    }

    .price_section {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 8px;
      margin-bottom: 8px;

      h2 {
        font-size: 24px;
        font-weight: 600;
        color: black;
      }

      p {
        font-size: 16px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .size_section {
      .size_header {
        display: flex;
        justify-content: space-between;
        h4 {
          font-size: 20px;
          margin-bottom: 24px;
          margin-top: 48px;
        }
      }

      .sizes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        margin-bottom: 40px;
        .size {
          border: 1px solid rgba(0, 0, 0);
          padding: 12px 16px;
          text-align: center;
          font-weight: 600;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }

    .button_container {
      display: flex;
      flex-direction: column;
      gap: 8px;

      button {
        padding: 20px;
        border: none;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
        &:first-child {
          background: #000;
          color: white;
        }
        &:last-child {
          background-color: white;
          color: black;
          border: 1px solid black;
        }
      }
    }
  }
}

@media (0 <= width <= 1279px) {
  main {
    padding-top: 20px;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;

    .images_section {
      display: flex;
      gap: 16px;
      aside {
        display: flex;
        flex-direction: column;
        gap: 16px;
        img {
          width: 8vw;
        }
      }

      .image_container {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    .content {
      h1 {
        font-size: 28px;
      }

      h2 {
        font-size: 16px;
      }

      .content_header {
        .green-text {
          font-size: 20px;
        }
      }
      .variants_section {
        display: flex;
        gap: 4px;
        img {
          width: 10vw;
        }
      }
      .price_section {
        gap: 8px;
        margin-top: 8px;
        margin-bottom: 8px;

        h2 {
          font-size: 16px;
        }

        p {
          font-size: 16px;
        }
      }

      .size_section {
        .size_header {
          display: flex;
          justify-content: space-between;
          h4 {
            font-size: 12px;
            margin-bottom: 20px;
            margin-top: 32px;
          }
        }

        .sizes {
          display: grid;
          gap: 6px;
          margin-bottom: 20px;
          .size {
            padding: 8px 12px;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }

      .button_container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        button {
          padding: 16px;
          border-radius: 50px;
          font-size: 16px;
        }
      }
    }
  }
}

@media (width <= 768px) {
  /* Smaller smartphones */

  main {
    padding-top: 20px;
    gap: 8px;
    flex-direction: column;

    .images_section {
      display: flex;
      gap: 8px;
      aside {
        display: flex;
        flex-direction: column;
        gap: 8px;
        img {
          width: 12vw;
        }
      }
    }
    .content {
      .variants_section {
        display: flex;
        gap: 4px;
        img {
          width: 16vw;
        }
      }
    }
  }
}
