@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #0c0d0f;
  color: white;
}

main {
  .hero {
    width: 100%;
  }

  .hero-bg {
    width: 100%;
    object-fit: cover;
  }

  .hero-content {
    h1 {
      font-size: 72px;
      position: relative;
      top: -120px;
      text-align: center;
      margin-bottom: -120px;
    }
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;

    .arrow {
      width: 10px;
      position: relative;
      left: 25%;
    }
    .arrow.reverse {
      left: 75%;
    }

    .service {
      display: flex;

      .service-img {
        max-width: 450px;
      }
      .service-text {
        padding: 32px;
        h2 {
          font-size: 32px;
          padding-bottom: 16px;
        }
        p {
          font-size: 16px;
        }
      }
    }

    .contact {
      margin-top: 140px;
      margin-bottom: 140px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h2 {
        font-size: 40px;
      }

      .contact-container {
        display: flex;
        gap: 20px;

        form {
          max-width: 480px;
          width: 100%;
          .form-field {
            width: 100%;
            padding: 12px 16px;
            input,
            textarea {
              width: 100%;
              padding: 15px;
              font-size: 16px;
              line-height: 1.5em;
              color: #61758a;
              border: 1px solid #dbe0e5;
              outline: none;
              border-radius: 8px;

              &::placeholder {
                color: #61758a;
              }

              &:focus {
                border-color: #1273d4;
              }
            }
            textarea {
              min-height: 120px;
              resize: vertical;
            }
          }

          .form-submit {
            padding: 12px 16px;
            button {
              padding: 10px 16px;
              background-color: #1273d4;
              color: white;
              font-size: 14px;
              font-weight: 700;
              line-height: 1.5em;
              border: none;
              border-radius: 8px;
              cursor: pointer;
              transition: 0.2s;

              &:hover {
                opacity: 0.9;
              }
            }
          }
        }
        img {
          width: 400px;
          height: 375px;
          border-radius: 48px;
          object-fit: cover;
        }
      }
    }
  }
}
@media (width <= 768px) {
  main {
    .hero-content {
      h1 {
        font-size: 36px;

        top: 0px;
        margin-bottom: 0px;
      }
    }
  }
}

@media (width <= 900px) {
  main {
    .container {
      .arrow {
        width: 10px;
        position: relative;
        left: 50%;
      }
      .arrow.reverse {
        left: 50%;
      }

      .service {
        display: flex;
        flex-direction: column;

        .service-img {
          max-width: 100%;
        }
        .service-text {
          padding: 24px;
          h2 {
            font-size: 24px;
            padding-bottom: 12px;
          }
          p {
            font-size: 16px;
          }
        }
      }

      .contact {
        margin-top: 80px;
        margin-bottom: 120px;
        display: flex;
        gap: 20px;

        h2 {
          font-size: 36px;
          padding-left: 20px;
        }

        .contact-container {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;

          form {
            max-width: 480px;
            width: 100%;

            .form-submit {
              button {
                width: 100%;
              }
            }
          }
          img {
            width: 400px;
            height: 375px;
            border-radius: 48px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (width >= 1280px) {
}
